* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 1.5px;
}

/*
    page styles is directly loaded here due to no react-lazy is used while rendering the component
    besides the project size is small
 */
#gmap-page {

}